// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

// Colors (dark-theme)
@mixin dark-theme {
  --first-color: hsl(var(--hue), var(--sat), 60%);
  --first-color-lighten: hsl(var(--hue), var(--sat), 80%);
  --first-color-alt: hsl(var(--hue), var(--sat), 53%);
  --text-color-light: hsl(var(--hue), 4%, 65%);
  --black-color: #1a1a1a;
  --white-color: #fff;
  --first-color-light: hsl(var(--hue), var(--sat), 75%);
  --title-color: hsl(var(--hue), 4%, 95%);
  --text-color: hsl(var(--hue), 4%, 80%);
  --body-color: hsl(var(--hue), 8%, 13%);
  --container-color: hsl(var(--hue), 8%, 16%);
  --scroll-bar-color: hsl(var(--hue), 4%, 32%);
  --scroll-thumb-color: hsl(var(--hue), 4%, 24%);

  #footer {
    background-color: var(--container-color);
  }
}

// CSS variables
:root {
  // Colors (light yellow theme by default)
  --hue: 45;
  --sat: 90%;
  --first-color: hsl(var(--hue), var(--sat), 60%);
  --first-color-lighten: hsl(var(--hue), var(--sat), 80%);
  --first-color-alt: hsl(var(--hue), var(--sat), 53%);
  --text-color-light: hsl(var(--hue), 4%, 65%);
  --black-color: #1a1a1a;
  --white-color: #fff;
  --first-color-light: hsl(var(--hue), var(--sat), 85%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: var(--white-color);
  --scroll-bar-color: hsl(var(--hue), 4%, 85%);
  --scroll-thumb-color: hsl(var(--hue), 4%, 75%);

  // Fonts
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --font-semi-bold: 600;
  --font-bold: 700;

  // Dimensions
  --header-height: 3rem;
  --m-0-5: 0.5rem;
  --m-0-75: 0.75rem;
  --m-1: 1rem;
  --m-1-5: 1.5rem;
  --m-2: 2rem;
  --m-2-5: 2.5rem;
  --m-3: 3rem;

  // Z-index
  --z-tooltip: 10;
  --z-fixed: 100;

  --yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(180deg, #BB67FF 0%, #C484F3 100%);
  --pink: #FF919D;
  --glass: rgba(255, 255, 255, 0.54);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #f799a354;
}


*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

// body {
//   margin: var(--header-height) 0 0 0;
//   font-family: var(--body-font);
//   font-size: var(--normal-font-size);
//   background-color: var(--body-color);
//   color: var(--text-color);
//   transition: 0.4s;

//   &.dark-theme {
//     @include dark-theme;
//   }
// }

::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: var(--scroll-bar-color);

  &-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: 0.5rem;

    &:hover {
      background-color: var(--text-color-light);
    }
  }
}

// h1,
// h2,
// h3 {
//   font-weight: var(--font-semi-bold);
//   color: var(--title-color);
//   line-height: 1.5;
// }

// ul {
//   list-style: none;
// }

// a {
//   text-decoration: none;
// }

// img {
//   max-width: 100%;
//   height: auto;
// }