.wrapper {
    // position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: 100%;
    background-color: #4ea8de;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img {
    width: 50px;
    margin-left: 20px;
}

.SearchContent {
    display: flex;
    width: 60%;
}

.inputSearch {
    min-width: 100px;
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    background-color: white;
}

.inputSearch::placeholder {
    color: #aeaeae;
}

.iconHeader {
    font-size: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.iconSearch {
    margin-left: 5px;
    color: black;
}

.UserAction {
    display: flex;
    margin-right: 20px;
}

.UserAction p {
    color: black;
}