.layout {
    align-self: center;
    justify-self: center;
    border-width: 20px;
}

.chart {
    margin: 2rem;
    width: 90%;
    width: 1000px;
    height: 600px;
    border-radius: 1px;
}